<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" src="{{url_for('static', filename = 'index.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
     <div class=""container>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid ">
                <div class="col-10">
                    <a class="navbar-brand" >Fertilizer Recommendation System</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                </div>
              
              <div class="collapse navbar-collapse col-1" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./predict.html">Predict</a>
                  </li>
                  
                </ul>
               
              </div>
            </div>
          </nav>
          <div class="container">
          
                   <div >
                    <!-- <img class="pimg" src="../../static/i4.jpeg" > -->
                     
                    <img src="{{url_for('static', filename = 'i4.jpeg')}}" alt="" class="pimg"> 
        
                   </div>
                   <div class="dform ">
                    <form class="f" action="/predict" method="post" enctype="multipart/form-data">
                        <div class="form-group mt-4">
                          <label for="type">Select Type</label>
                          
                          <input type="text" class="plant" id="type" name="plant" >
                          
                        <div class="form-group mt-4">
                            <label for="myfile">Select a file</label>
                            <br/>
                            <br/>
                            <input type="file" id="myfile" name="image">
                        </div>
                        
                        <button type="submit" class="btn btn-primary mt-4">Predict</button>
                      </form>
        
                   </div>
                    
            
          
           
          </div>
      
     </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>